.login__btn-sbm {
  background-color: #ffffff;
  color: #000000;
  height: 50px;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 180px;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}
