.elements {
  font-family: "Inter", Arial, sans-serif;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-row-gap: 20px;
  grid-column-gap: 18px;
  justify-content: center;
}