.login__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding-top: 60px;
  max-width: 358px;
  box-sizing: border-box;
  justify-content: space-around;
  //background: #000000;
}
