.popup__container {
  display: flex;
  flex-direction: column;
  /* padding: 34px 36px 36px;
  /* background: #ffffff;
  color: #000000;
  */
  width: 100%;
  max-width: 430px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .popup__container {
    max-width: 430px;
    min-width: auto;
  }
}

@media screen and (max-width: 640px) {
  .popup__container {
    max-width: 240px;
    padding: 30px 20px;
  }
}
