.popup__input {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  border-width: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 13px 2px;
}

@media screen and (max-width: 640px) {
  .popup__input {
    font-size: 12px;
    margin-top: 20px;
  }
}
