.header__btn {
  border: none;
  font-size: 18px;
  line-height: 1.2;
  color: #a9a9a9;
  background-color: #000000;
  cursor: pointer;
  user-select: none;
}

.header__btn:hover {
  opacity: 0.6;
}

.header__btn:focus {
  outline: none;
}